*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 ;
}

#logo{ 
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

#navLinks{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.navLink{
    color: #666;
    text-decoration: none;
}

#section1{
    padding: 48px 12px;
}

h1{
    margin-bottom: 24px;
}

p{
    margin-bottom: 16px;
}

.section1Links{
    margin-top: 24px;
}

.button{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.linkPrimary{    
    background-color: #000;
    color: #fff;   
}

.linkSecondary{
    border: 1px solid #000;
    color: #000;
}

img{
    width: 100%;
}